body{
background-color:rgb(0,0,0);
background-image:url(http://www.wallpaperdisk.com/wallpapers/Natural-scenes/high%20resolution%20natural%20scenes%20(13).jpg);
background-position:center center;
background-repeat:no-repeat;
background-attachment:fixed;
background-size: 100% 100%;
}
    
        #Left-Side {
            float: left;
            width: 20%;
        }
        #Right-Side {
            float: right;
            width: 70%;
        }
        html{padding: 3.125em 4.6875em;}